.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
}

.form_container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.form_input {
  line-height: 1.5em;
  border-radius: 4px;
  border: solid 1px #eeeeee;
  padding: 4px 6px;
  width: 100%;
  box-sizing: border-box;
}

.form_button {
  font-size: 12px;
  height: 30px;
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
}

.form_button:hover {
  border-color: rgba(25, 118, 210, 0.3);
}
