.root {
  display: flex;
  align-items: center;
  position: fixed;
  height: 48px;
  width: 100%;
  background-color: rgba(54, 162, 235, 1);
}

.header__logo {
  padding-left: 20px;
  color: white;
}
