.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
}

.form_button {
  font-size: 12px;
  height: 30px;
  border-radius: 5px;
  padding: 4px 6px;
  cursor: pointer;
  background-color: white;
  border: 1px solid rgba(25, 118, 210, 0.5);
  color: #1976d2;
}

.form_button:hover {
  border-color: rgba(25, 118, 210, 0.3);
}
